@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
    color: whitesmoke;
    margin: 0px;
}

body {
    background: linear-gradient(90deg, #5c0067 0%, #00d4ff 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teclado {
    background: #363636;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 3px 3px 3px #6e6e6e;
}

.painel {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
}

    .area-do-botao {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 50px;
    }

        .label-ligado-desligado {
            font-family: "Rajdhani", sans-serif;
            color:#ffd700;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .borda-do-botao {
            background:#000;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .botao-power {
            background: #808080;
            border-radius: 100%;
            border: #000 1px solid;
            width: 35px;
            height: 35px;
        }

    .logo-marca {
        font-family: "Gemunu Libre", sans-serif;
        font-size: 60px;
        color: #00d4ff;
        border-top: #00d4ff 1px solid;
        border-bottom: #00d4ff 1px solid;
    }

.oitavas {
    display: flex;
    position: relative;
}

    .oitava {
        display: flex;
        position: relative;
    }

        .tecla-branca {
            border: 1px solid #000;
            background: #fff;
            width: 50px;
            height: 300px;
            border-radius: 0px 0px 5px 5px;
            border-top: hwb(0 71% 29%) 7px solid;
        }

            .tecla-branca:active {
                box-shadow: inset 7px 0px 5px hwb(0 71% 29%);
                height: 296px;
            }

        .tecla-preta {
            background: linear-gradient(173deg, rgba(0,0,0,1) 92%, rgba(255,255,255,1) 100%);
            border: #000 1px solid;
            width: 30px;
            height: 180px;
            position: absolute;
        }

        .do-sustenido {
            left: 35px;
        }

        .re-sustenido {
            left: 85px;
        }

        .fa-sustenido {
            left: 185px;
        }

        .sol-sustenido {
            left: 235px;
        }

        .la-sustenido {
            left: 285px;
        }

            .tecla-preta:active {
                box-shadow: 7px 0px 5px hwb(0 71% 29%);
                height: 176px;
            }
